# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**  
- List popular languages for Data Science
- List popular Tools for Data Science
- List of libraries most popular in Data Science
- Boards with Jupyter Notebook
- Arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Sklearn 
2. Pythorch
3. Pandas
4. Matplotlib
5. Numpy
6. ggplot
7. Caret

|Data Science Tools|
|------------------|
|Jupyter Nootbook|
|Jupyter Lab |
|Data Asset X |
|Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.
3+4,
3-5,
9/3,
25%5,
5**2

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3 * 4) + 5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
print("{:.1f}".format(200/60))

3.3

## Author  
Luis Angel Ocegueda Lopez